<h3><%=@team[:name]%></h3>
<br>
<h3>Team Motto: <%=@team[:motto]%></h3>
<br>
<h3>Hero Name: <%=@hero.first[:name]%></h3>
<br>
<h3>Hero Power: <%=@hero.first[:power]%></h3>
<br>
<h3>Hero Biography: <%=@hero.first[:bio]%></h3>
<br>
<br>
<h3>Hero Name: <%=@hero[:name]%></h3>
<br>
<h3>Hero Power: <%=@hero[:power]%></h3>
<br>
<h3>Hero Biography: <%=@hero.first[:bio]%></h3>